name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true


jobs:
  build_and_test:
    uses: ./.github/workflows/build_and_test.yaml
    with:
      build_type: pull-request
